<nav class='navbar'>
 <h1 class="weatherwear">WEATHER WEAR</h1> 
 <div class="line3"></div>
 <a href="/login" class="login">Log in</a>
</nav>
<div class="imagelogo"> </div>
<h1 class="firsttext">THE APP THAT TELLS YOU WHAT TO WEAR </h1>
<h2 class="secondtext">EVERYDAY, EVERYWHERE</h1>
<a href="/signup" class="signup">SIGN UP</a>
<div class="rectangle26"></div>